/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 70%;
    margin: 0 auto;
    display: block;
    padding: 20px 0;
}

section {
    margin-bottom: 40px;
}

h2 {
    border-bottom: 2px solid #2a2a2a;
    padding-bottom: 10px;
}

p {
    margin: 20px 0;
}

#social ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#social li {
    margin: 0 15px;
}

#social a {
    color: #2a2a2a;
    text-decoration: none;
    font-weight: bold;
}

#social a:hover {
    text-decoration: underline;
}

#chart img {
    width: 60%;        /* Controls the width of the chart */
    height: auto;      /* Maintains the aspect ratio */
    display: block;    /* Ensures the image is centered */
    margin: 20px auto; /* Centers the image horizontally and provides spacing */
}

.container > section {
    clear: both;       /* Ensures each section starts on a new line */
    text-align: center; /* Centers content within each section */
}
