body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FDFDFD; /* Change this to your logo's background color */
    color: #423B60; /* Change this to your logo's font color */
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px; /* Increased padding */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); /* Simplified shadow */
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    width: 15%;
    margin: 15px auto; /* Increased margin */
    display: block;
}

section {
    margin-bottom: 60px; /* Increased margin-bottom for more whitespace */
}

h2 {
    border-bottom: 2px solid #2a2a2a;
    padding-bottom: 10px;
    margin-bottom: 20px; /* Added margin-bottom for spacing */
}

p {
    margin: 25px 0; /* Increased margin */
}

#social ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#social li {
    margin: 0 25px; /* Increased margin for spacing */
}

#social a {
    color: inherit; /* Inherit the body color */
    text-decoration: none;
    font-weight: bold;
}

#social a:hover {
    text-decoration: underline;
}

#chart img {
    width: 90%; /* Slightly increased the width of the chart for more emphasis */
    height: auto;
    display: block;
    margin: 25px auto; /* Increased margin */
}

.container > section {
    clear: both;
    text-align: center;
}
